.rounded-full {
    border-radius: 50% !important;
    border-color: #e61b29 !important;
    height: 70% !important;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 15px 32px;
    margin-bottom: 10%;
}



